.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px 150px 10px 5px;
}

@media screen and (max-width: 450px) {
  .search-bar {
    width: 20vw;
  }
}

.search-btn {
  background: rgb(48, 201, 193);
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(320px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  padding: 3vh 0 3vh 0;
}

.foods {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(75, 73, 73, 0.7);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .foods {
    width: 90vw;
  }
}

.pictures {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
